<nav class="navbar navbar-default" >
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a  href="#"><img src="assets/img/logo.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class=" nav navbar-nav pull-right ">
            <li class="nav-item"><a routerLink="#" class="nav-link"><img src="assets/img/facebook icon-home.png"></a></li>
            <li class="nav-item"><a routerLink="#" class="nav-link"><img src="assets/img/google icon-home.png"> </a> </li>
           
          </ul>
      <ul class="nav navbar-nav pull-right size">
        <li><a href="#">Home</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#"><img src="assets/img/zambyux.png"></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->

</nav>


<div class="jumbotron"  class="img-responsive " id="home" >
      
<div class="container jan">
    <div class="col-sm-12">
      <div class="row">
        <div class="text-center">
        <h1 >Welcome <br> to Mayring restaurant</h1>
      
      
      </div>
      </div>
    </div>
</div>


</div>

