.size {
    width: 55%
}
.size > li > a {
    color: black;
    font-size: 15px
}
.navbar {
    background-color: #fff;
    height: 70px;
}
.nav-link > i  {
    font-size: 17px;
    color: #CD853F
}

.nav-link > span {
    color: #CD853F;
}
#bs-example-navbar-collapse-1 {
    padding-top: 10px;
}
.navbar-header {
    padding-top: 12px
}
.jumbotron {
    padding: 0;
}
.navbar {
    margin-bottom: 0
}
#home {
   /* The image used */
   background-image: url("../../assets/img/Home-picture.jpg");

   /* Full height */
   height: 92%; 

   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0;
}
.jan {
    margin-left: 0;
      /* Fallback for web browsers that don't support RGBa */
      background-color: rgb(0, 0, 0);
      /* RGBa with 0.6 opacity */
      background-color: rgba(0, 0, 0, 0.6);
      height: 100%;
}
.row {
    color:white
}
